.product {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2px;
  min-width: 200px;
  min-height: 300px;
  padding: 10px;
  text-align: center;
  background-color: white;
  border-radius: 4px;
  color: black;

  .product-icon {
    position: absolute;
    top: 6px;
    right: 6px;
    cursor: pointer;
    fill: white;
    stroke: grey;

    &.is-favorite {
      stroke: red;
    }

    &:hover {
      stroke: red;
    }
  }

  .product-image {
    width: 90%;
    min-height: 250px;
    padding: 10px;
    object-fit: fill;

    img {
      max-width: 100%;
    }
  }

  .product-details {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  .btn-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;

      .product-btn {
        margin: 2px;
        padding: 10px 16px;
        background-color: cornflowerblue;
        border: 1px solid cornflowerblue;
        outline: none;
        color: white;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
          color: black;
          border: 1px solid cornflowerblue;
        }
      }
    .product-price {
      font-size: 18px;
      color: cornflowerblue;
    }
    }
  }