.container {
    font-family: Ubuntu, sans-serif;
    background-image: url("../photo/background-picture.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.container .header {
    height: 58px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container .header .logo {
    margin-left: 79px;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
    cursor: pointer;
}
.container .header .logo:hover,
.container .header .logo:focus {
    color: #01813F;
    transition: color 0.2s;
}
.container .header .header-right {
    display: flex;
    align-items: inherit;
    position: relative;
}
.container .header .header-right:before {
    content: "";
    width: 1px;
    height: 19px;
    position: absolute;
    top: 12px;
    left: 148px;
    background: rgba(255, 255, 255, 0.9);
    opacity: 0.5;
}
.container .header svg {
    width: 23px;
    height: 23px;
    cursor: pointer;
    fill: white;
    transition: 0.2s;
}
.container .header svg:hover {
    fill: green;
}
.container .header svg:not(:first-of-type) {
    margin-left: 26px;
}
.container .header svg:last-of-type {
    margin-right: 26px;
}
.container .header .header-welcome-text {
    font-size: 14px;
    line-height: 14px;
    margin-left: 26px;
    margin-right: 79px;
}
.header .header-welcome-text a {
    color: white;
    text-decoration: none;
}
.header .header-welcome-text a:hover {
    color: #01813F;
    transition: color 0.2s;
}
.sign-up-form {
    width: 444px;
    height: 584px;
    padding: 31px 60px 38px;
    margin: calc((100vh - 58px - 584px) / 2) auto;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
    position: relative;
}
.sign-up-form::before {
    content: "";
    width: 18px;
    height: 18px;
    position: absolute;
    left: 0;
    top: 30px;
    background: #3CB878;
}
.sign-up-form .fieldset {
    margin: 0;
    padding: 0;
    border: none;
}
.sign-up-form .sign-up-header {
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.sign-up-form .sign-up-header .legend-sign-up {
    margin: 0 0 15px;
    font-size: 20px;
    line-height: 1;
}
.sign-up-form .sign-up-header .legend-log-in {
    margin: 0 0 15px;
    font-size: 14px;
    line-height: 14px;
}
.sign-up-form .sign-up-header .legend-log-in a {
    text-decoration: none;
    color: #3CB878;
}
.sign-up-form .sign-up-header .legend-log-in a:hover {
    color: #01813F;
    transition: color 0.2s;
    text-decoration: underline;
}
.sign-up-form .sign-up-buttons {
    display: flex;
    margin-bottom: 32px;
    font-family: inherit;
}
.sign-up-form .sign-up-buttons .facebook-button {
    width: 160px;
    height: 48px;
    border: none;
    outline: none;
    font-size: 16px;
    line-height: 16px;
    color: white;
    background-color: #305DB8;
    transition: background-color 0.2s;
}
.sign-up-form .sign-up-buttons .facebook-button:hover {
    background: #022263;
}
.sign-up-form .sign-up-buttons .google-button {
    width: 160px;
    height: 48px;
    border: none;
    outline: none;
    font-size: 16px;
    line-height: 16px;
    color: white;
    background-color: #DF4A32;
    transition: background-color 0.2s;
}
.sign-up-form .sign-up-buttons .google-button:hover {
    background: #AB1F09;
}
.sign-up-form .sign-up-buttons button {
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.sign-up-form .sign-up-buttons button::after {
    content: "";
    height: 28px;
    width: 1px;
    background-color: #2B0D09;
    opacity: 0.1;
    position: absolute;
    left: 54px;
    top: 10px;
}
.sign-up-form .sign-up-buttons button:not(:first-of-type) {
    margin-left: 4px;
}
.sign-up-form .or {
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    text-align: center;
    display: flex;
}
.sign-up-form .or::before,
.sign-up-form .or::after {
    content: "";
    width: 150px;
    height: 0;
    border: 1px solid #F2F2F2;
    background-color: #F2F2F2;
    margin-top: 8px;
}
.sign-up-form .or::before {
    margin-right: 3px;
}
.sign-up-form .or::after {
    margin-left: 3px;
}
.sign-up-form input {
    width: 324px;
    height: 44px;
    padding-left: 20px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 14px;
}
.sign-up-form input:focus {
    color: black;
    outline: none;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
}
.sign-up-form input::placeholder {
    color: #BEBEBE;
}
.sign-up-form input:not(:first-of-type) {
    margin-top: 14px;
}
.sign-up-form input[type=checkbox]{
    width: 20px;
    height: 20px;
    margin-right: 12px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
}
.sign-up-form .checkbox-label {
    font-size: 14px;
    line-height: 14px;
    margin-top: 14px;
    color: #434343;
    display: flex;
    align-items: center;
}
.sign-up-form .checkbox-label p {
    margin: 0;
}
.sign-up-form .checkbox-label a {
    color: rgba(60, 184, 120, 0.8);
    text-decoration: none;
    transition: color 0.2s;
}
.sign-up-form .checkbox-label a:hover {
    color: #01813F;
    text-decoration: underline;
}
.sign-up-form input[type=submit] {
    margin-top: 20px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1;
    background: rgba(60, 184, 120, 0.8);
    color: #FFFFFF;
    cursor: pointer;
    transition: background 0.2s;
}
.sign-up-form input[type=submit]:hover {
    background: #01813F;
}