.main-content {
  display: flex;
  background-color: #F6F6F6;

  .products-wrapper {
    max-width: 100%;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 2em;
    background-color: #F6F6F6;
  }
}