body {
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    width: 1024px;
    margin: 50px auto 17px auto;
    display: flex;
    color: white;
    justify-content: space-between;
}
.header-logo {
    position: relative;
    display: flex;
}
.header-logo a {
    text-decoration: none;
    color: white;
}
.header-logo a:hover {
    color: #F26522;
}
.header-logo .logo-hover {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
.header-logo:hover .logo-hover {
    display: block;
}
.header-logo .text-logo {
    float: right;
    margin-left: 8px;
    text-transform: uppercase;
}
.container .header-logo .text-milan {
    margin: 0;
    font-family: Roboto;
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
}
.container .header-logo .text-holidays {
    margin: 0;
    font-family: Roboto;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
}
.container .header-contacts a {
    font-family: Roboto;
    font-size: 18px;
    line-height: 18px;
    color: white;
    display: block;
    text-align: right;
    text-decoration: none;
}
.container .header-contacts a:hover {
    color: #F26522;
}
.container .header-contacts .mail {
    margin-bottom: 19px;
}
.section-content {
    margin: 0 auto;
}
.section-content .images-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 78px;
}
.section-content .images-wrapper .image-item {
    width: 300px;
    position: relative;
}
.section-content .images-wrapper .image-item img {
    width: 100%;
    height: 100%;
}
.section-content .images-wrapper .image-item a {
    text-decoration: none;
    color: white;
}
.section-content .images-wrapper .image-item a:hover  {
    color: #F26522;
}
.section-content .images-wrapper .image-block-hover {
    display: none;
}
.section-content .image-item:hover .image-block-hover,
.section-content .image-item .image-title:hover .image-block-hover {
    display: block;
}
.section-content .images-wrapper .image-item:hover {
    color: #F26522;
}
.section-content .images-wrapper .image-item:hover .image-desc {
    color: white;
}
.section-content .images-wrapper .image-desc {
    height: 55px;
    position: absolute;
    left: 0;
    bottom: 0;
    min-width: 300px;
    box-sizing: border-box;
    background-color: #F26522;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.section-content .images-wrapper .image-desc-left {
    padding-top: 8px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}
.section-content .images-wrapper .image-desc-left-top {
    font-family: Roboto;
    font-size: 10px;
    line-height: 1;
}
.section-content .images-wrapper .image-desc-left-bottom {
    margin-top: 8px;
    font-family: Roboto;
    font-size: 20px;
    line-height: 1;
}
.section-content .images-wrapper .image-desc-right {
    margin-top: 29px;
    margin-bottom: 0;
    font-family: Roboto;
    font-size: 14px;
    line-height: 1;
    display: flex;
    justify-content: center;
}
.section-content .images-wrapper .image-desc-right::after {
    content: ">";
    position: absolute;
    top: 30px;
    right: 14px;
}
.section-content .images-wrapper .image-item .image-title {
    margin-top: 20px;
    font-family: Roboto;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    justify-content: center;
}
.footer {
    margin-top: 90px;
    margin-bottom: 15px;
    text-align: center;
    color: white;
}