@mixin flexContainer($f-direction, $j-content, $a-items) {
  display: flex;
  flex-direction: $f-direction;
  justify-content: $j-content;
  align-items: $a-items;
}
@mixin fontTitle() {
  font-family: 'Roboto',sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
  text-transform: uppercase;
  color: #4E4E4E;
}
@mixin fontStyle() {
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  line-height: 200%;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}