body {
    background: url("../images/background.png") no-repeat;
    background-size: cover;
    height: 100vh;
}
.header {
    padding: 18px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.header-logo {
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
}
.header-logo:hover {
    color: #01813F;
}
.header-elements-wrapper {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
}
.header-elements-wrapper:before {
    content: "";
    position: absolute;
    width: 1px;
    height: 19px;
    left: 154px;
    top: 11px;
    background: rgba(255, 255, 255, 0.9);
}
.header-elements-wrapper svg {
    fill: #FFFFFF;
    margin-right: 24px;
}
.header-elements-wrapper svg:hover {
    fill: #01813F;
}
.header-text {
    margin-left: 54px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}
.header-text a {
    text-decoration: none;
    color: #FFFFFF;
}
.header-text a:hover {
    text-decoration: none;
    color: #01813F;
}
.hero-section {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-form {
    position: relative;
    padding: 30px 60px 38px;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.modal-form-header {
    margin-bottom: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sign-up-text {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}
.modal-form-header::before {
    content: "";
    width: 18px;
    height: 18px;
    position: absolute;
    left: 0;
    top: 29px;
    background: #3CB878;
}
.log-in-text a {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    text-decoration: none;
}
.log-in-text a:hover {
    text-decoration: underline;
}
.modal-form-buttons-wrapper {
    margin-bottom: 44px;
    display: flex;
    justify-content: space-between;
    column-gap: 4px;
}
.modal-form-btn {
    border-radius: 4px;
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
    position: relative;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}
.modal-form-btn img {
    margin-right: 38px ;
}
.modal-form-btn::after {
    content: "";
    position: absolute;
    left: 50px;
    top: 10px;
    margin-right: 24px;
    width: 1px;
    height: 28px;
    background: #2B0D09;
    mix-blend-mode: normal;
    opacity: 0.1;
}
.facebook-btn {
    padding: 12px 22px 12px 16px;
    background: #305DB8;
}
.facebook-btn:hover {
    background-color: #022263;
}
.google-btn {
    padding: 14px 22px 14px 14px;
    background: #DF4A32;
}
.google-btn:hover {
    background-color: #AB1F09;
}
.modal-form-or-element {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    position: relative;
    text-align: center;
    margin-bottom: 12px;
}
.modal-form-or-element::before {
    content: "";
    position: absolute;
    width: 150px;
    height: 1px;
    left: -3px;
    top: 8px;
    background: #F2F2F2;
}
.modal-form-or-element::after {
    content: "";
    position: absolute;
    width: 150px;
    height: 1px;
    left: 171px;
    top: 8px;
    background: #F2F2F2;
}
.modal-form input {
    box-sizing: border-box;
    margin: 0 0 14px 0;
    height: 44px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding: 15px 20px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
    outline: none;
}
.modal-form input:focus {
    background: #FFFFFF;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
}
.modal-form label {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
}
.modal-form label input {
    margin: 0 8px 0 0;
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
}
.modal-form label a {
    text-decoration: none;
    color: #3CB878;
    margin-left: 4px;
}
.modal-form label a:hover {
    color: #01813F;
    text-decoration: underline;
}
.modal-form-submit-button {
    padding: 16px 16px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    cursor: pointer;
}
.modal-form-submit-button:hover {
    background: #01813F;
}