body {
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: hidden;
}
.container {
    height: 1200px;
    perspective: 300px;
    display: flex;
    justify-content: center;
    color: gold;
    font-size: 7em;
    font-weight: 600;
    line-height: 1.5;
    position: relative;
}
.container .text-wrapper {
    position: relative;
    top: 100px;
    transform-origin: 50% 100%;
    animation: episode 30s linear infinite;
}
.container .text-wrapper .text-title {
    text-align: center;
}
@keyframes episode {
    0% {
        top: 0;
        transform: rotateX(20deg)  translateZ(0);
    }
    100% {
        top: -6000px;
        transform: rotateX(25deg) translateZ(-2500px);
    }
}