body {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.header-logo {
    margin-top: 63px;
    font-family: Roboto;
    font-size: 80px;
    line-height: 94px;
    color: black;
}
.header-logo a {
    text-decoration: none;
    color: black;
}
.header-logo .colored {
    color: skyblue;
}
.header-menu {
    height: 72px;
    margin-top: 38px;
    background-color: #35444F;
}
.header-menu .menu .menu-list {
    display: flex;
    justify-content: center;
}
.header-menu .menu .menu-item {
    padding: 25px 36px 19px 36px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    font-family: Roboto;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: flex-end;
}
.header-menu .menu .item-1 {
    border-left: 2px solid #fff;
}
.header-menu .menu .item-4 {
    border-right: 2px solid #fff;
}
.header-menu .menu .menu-item a {
    text-decoration: none;
    color: #fff;
}
.header-menu .menu .menu-item:hover {
    background-color: #222F3A;
}
.section-content {
    margin-top: 48px;
    display: flex;
}
.section-content .aside-menu {
    margin-right: 52px;
}
.section-content .aside-menu .menu-list {
    width: 344px;
    border: 1px solid #000000;
    margin: 0;
    padding-left: 0;
}
.section-content .aside-menu .menu-item {
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 44px;
    font-family: Roboto;
    font-size: 27px;
    line-height: 27px;
    display: flex;
    align-items: center;
}
.section-content .aside-menu .menu-item a {
    text-decoration: none;
    color: #485863;
}
.section-content .aside-menu .menu-item:hover {
    background-color: #DBDBDB;
}
.section-content .aside-menu .menu-item a:hover {
    color: #35444F;
    padding-left: 15px;
}
.section-content .main-section .section-logo {
    width: auto;
    height: auto;
    margin-bottom: 34px;
    border: 1px solid #000000;
}
.main-section .section-logo img {
    width: 320px;
    height: 381px;
    margin-top: 75px;
    margin-right: 268px;
    margin-bottom: 73px;
    margin-left: 297px;
    transition: 1s;

}
.main-section .section-logo img:hover {
    transform: scale(1.2);
}
.main-section .section-content {
    display: flex;
    flex-direction: column;
}
.main-section .section-content p {
    margin: 0;
    font-family: Roboto;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}
.main-section .section-content p + p {
    margin-top: 34px;
}
.footer {
    margin-top: 54px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    height: 69px;
    background: rgba(99, 105, 110, 0.48);
}
.footer .footer-menu .menu-list {
    margin-left: -40px;
    margin-top: 20px;
    display: flex;
    justify-content: left;
}
.footer .footer-menu .menu-item {
    padding-left: 40px;
    font-family: Roboto;
    font-size: 28px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #0C1927;
}
.footer .footer-menu .menu-item a {
    text-decoration: none;
    color: #0C1927;
}
.footer .footer-menu .menu-item a:hover {
    color: #3181A6;
    border-bottom: 2px solid #3181A6;
}
.footer .copyright {
    font-family: Roboto;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
    text-align: right;
}
.footer .copyright p {
    margin-right: 40px;
}