.header-menu {
    text-align: center;
}
.header-menu-item {
    display: inline-block;
    margin: 25px 72px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}
.header-menu-item a {
    text-decoration: none;
    color: #FF0000;
}
.header-photo {
    width: 100%;
    margin-bottom: 49px;
}
.main-content {
    text-align: center;
}
.main-content-title {
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    margin: 0 0 38px;
}
.main-content p {
    font-family: Montserrat;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    margin: 0 6%;
}
.main-content p + p {
    margin-top: 24px;
    margin-bottom: 84px;
}
.button {
    margin: 0 auto 82px;
    width: 191px;
    height: 51px;
    border-radius: 4px;
    background-color: #FF0000;
    border: none;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    color: white;
}
.footer {
    text-align: right;
    margin: 0 7% 29px;
}
.copyright {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
}