.section-hero {
    height: 1012px;
    background-image: url("../images/section-backgrounds/section-1.jpg");
    background-repeat: no-repeat;
}
.header {
    height: 120px;
    background: rgba(94, 93, 88, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-wrapper {
    max-width: 1160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-wrapper {
    display: flex;
    align-items: center;
}
.logo {
    width: 58px;
    height: 67px;
    background-image: url("../images/logo.svg");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-letter {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 31px;
    color: #FFFFFF;
}
.logo-text {
    margin-left: 6px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
}
.logo-text span {
    font-weight: 700;
    color: #18CFAB;
}
.header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-menu-list {
    margin-left: 305px;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.header-menu-item {
    padding-right: 21px;
    text-transform: uppercase;
    list-style-type: none;
}
.header-menu-item a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    position: relative;
}
.header-menu-item a:hover {
    color: #18CFAB;
}
.header-menu-item a:hover::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -50px;
    height: 2px;
    background-color: #18CFAB;
}
.search-icon {
    height: 20px;
}
.hero-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-text-wrapper {
    margin: 250px 0 134px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-text-wrapper h1 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.hero-text-wrapper h1 span {
    color: #18CFAB;
}
.hero-text-wrapper p {
    box-sizing: border-box;
    margin: 22px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 78px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.hero-text-wrapper > span {
    font-family: 'Montserrat', sans-serif;
    font-size: 34px;
    color: #D4D4D4;
}
.hero-buttons {
    display: flex;
    gap: 26px;
    position: relative;
    z-index: 0;
}
.btn {
    padding: 16px 0;
    width: 170px;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    background: #18CFAB;
    cursor: pointer;
    transition: 0.5s;
}
.btn::before {
    content: "";
    position: absolute;
    top: -4px;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #FFFFFF;
    border-radius: 4px;
    z-index: -1;
}
.btn:hover {
    background-color: #FFFFFF;
    color: #18CFAB;
    transition: background-color 0.5s ease;
}
.btn:hover::before {
    background-color: #18CFAB;
    transition: background-color 0.5s ease;
}
.secondary-btn {
    background-color: #00CBF6;
}
.secondary-btn:hover {
    color: #00CBF6;
}
.secondary-btn:hover::before {
    background-color: #00CBF6;
}
.company-benefits {
    height: 377px;
    box-sizing: border-box;
    display: flex;
    border-top: 8px solid white;
    border-bottom: 8px solid white;
}
.company-benefits > a {
    flex: 1;
}
.company-benefit {
    height: 100%;
    padding: 100px 0 110px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
}
.company-benefit > img {
    max-height: 100px;
}
.company-benefits > a:nth-child(odd) {
    background-color: #1C2A33;
    color: #18CFAB;
}
.company-benefits > a:nth-child(even) {
    background-color: #18CFAB;
    color: #FFFFFF;
}
.company-services {
    padding: 85px 0 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-title {
    margin: 0 0 100px;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
}
.section-title::before {
    content: "";
    width: 76px;
    height: 1px;
    position: absolute;
    left: 34%;
    bottom: -24px;
    background: #18CFAB;
}
.section-title::after {
    content: "";
    width: 76px;
    height: 1px;
    position: absolute;
    left: 38%;
    bottom: -28px;
    background: #18CFAB;
}
.tabs {
    width: 1152px;
}
.services-list {
    margin-bottom: 24px;
    padding: 0;
    display: flex;
    list-style-type: none;
}
.service-tab-title {
    width: 192px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8FCFE;
    border: 1px solid #EDEFEF;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 39px;
    color: #717171;
    cursor: pointer;
}
.service-tab-title:hover {
    border: 1px solid #18CFAB
}
.active-tab {
    background: #18CFAB;
    color: #FFFFFF;
    position: relative;
}
.active-tab::after {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 10px solid #18CFAB;
}
.tabs-content {
    padding: 0;
}
.tabs-content > li {
    box-sizing: border-box;
    list-style-type: none;
    display: flex;
    align-items: flex-start;
}
.tabs-content > li > p {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
}
.tabs-content .hidden-content {
    display: none;
}
.service-image {
    width: 192px;
    height: 140px;
    margin-right: 16px;
}
.service-image img {
    height: 100%;
}
.section-parallax {
    box-sizing: border-box;
    height: 476px;
    padding: 126px 0;
    background-image: url("../images/section-backgrounds/section-2.jpg");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 0;
}
.section-parallax::after {
    content: "";
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    opacity: 0.8;
}
.section-parallax h4 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #18CFAB;
}
.section-parallax span {
    margin: 12px 0 68px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
}
.section-company-works {
    padding: 98px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E9EDEF;
}
.works-list {
    padding: 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.works-list > li {
    min-width: 80px;
    padding: 14px 16px;
    text-align: center;
    border: 1px solid #DADADA;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 42px;
    color: #717171;
    cursor: pointer;
}
.works-tab-title.active {
    border: 1px solid #18CFAB;
    color: #18CFAB;
    cursor: unset;
}
.works-tab-title:hover {
    border: 1px solid #18CFAB;
    color: #18CFAB;
}
.works-images {
    margin: 80px 0;
    display: flex;
    flex-wrap: wrap;
}
.image-wrapper {
    position: relative;
    width: 286px;
    height: 210px;
}
.image-wrapper.hidden-image {
    display: none;
}
.image-wrapper img {
    width: 100%;
    height: 100%;
}
.hidden-image-content {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E9EDEF;
    border-top: 6px solid #18CFAB;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    transition: .4s ease;
}
.image-wrapper:hover .hidden-image-content {
    opacity: 1;
    transition: .6s ease;
}
.hidden-image-content > div {
    margin-bottom: 30px;
    display: flex;
    gap: 4px;
}
.hidden-image-content > div > div {
    width: 40px;
    height: 40px;
    border: 1px solid #18CFAB;
    border-radius: 50%;
    position: relative;
}
.hidden-image-content .link::after {
    content: url(/images/icons/link.svg);
    position: absolute;
    width: 20px;
    height: 20px;
    left: 13px;
    top: 13px;
}
.hidden-image-content .square::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    left: 14px;
    top: 14px;
    background: #FFFFFF;
}
.hidden-image-content .link:hover {
    background-color: #717171;
    border-color: #717171;
}
.hidden-image-content .square:hover {
    background-color: #18CFAB;
}
.hidden-image-content h6 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    text-transform: uppercase;
    color: #18CFAB;
}
.hidden-image-content span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    color: #8A8A8A;
}
.load-more-btn {
    display: flex;
    justify-content: space-evenly;
}
.load-more-btn span {
    font-size: 32px;
}
.news-section {
    padding: 82px 0 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.news-wrapper {
    max-width: 1160px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 34px;
}
.post {
    position: relative;
}
.post-image {
    width: 262px;
    height: 208px;
}
.post-image img {
    width: 100%;
    height: 100%;
}
.post-date {
    width: 70px;
    height: 68px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #203E38;
    position: absolute;
    top: 0;
    right: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
}
.post-content {
    padding-left: 16px;
}
.post-name {
    margin: 8px 0 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 39px;
    color: #717171;
}
.post-content span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #777777;
}
.post-author {
    margin-right: 30px;
    position: relative;
}
.post-author::after {
    content: "";
    width: 1px;
    background-color: #777777;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -16px;
}
.news-wrapper a:hover .post-date {
    background-color: #18CFAB;
}
.news-wrapper a:hover p {
    color: #18CFAB;
}
.feedback-section {
    padding: 98px 0 118px;
    background-image: url("../images/section-backgrounds/section-3.jpg");
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feedback-section::before {
    content: url(/images/icons/brackets.svg);
    position: absolute;
    top: 220px;
    left: 48.5%;
}
.feedback-section-title {
    color: #FFFFFF;
}
.feedback-section-title::before {
    left: 43%;
}
.feedback-section-title::after {
    left: 45%;
}
.swiper {
    max-width: 80%;
}
.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mySwiper {
    width: 40%;
    height: 100px;
    box-sizing: border-box;
    padding: 10px 0;
}
.mySwiper .swiper-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;
    cursor: pointer;
}
.swiper-button-prev::after,
.swiper-button-next::after {
    width: 32px;
    margin: 36px;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 12px;
    border: 1px solid #BBBBBB;
    color: #BBBBBB;
}
.swiper-button-prev:hover::after,
.swiper-button-next:hover::after {
    border: none;
    color: #FFFFFF;
    background-color: #18CFAB;
}
.mySwiper .swiper-slide {
    width: 60px;
    height: 60px;
    opacity: 0.4;
    position: relative;
    z-index: 1;
}
.mySwiper .swiper-slide::before {
    content: "";
    position: absolute;
    top: -5px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #1FDAB5;
    mix-blend-mode: normal;
    opacity: 0.2;
    z-index: 0;
}
.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
    position: relative;
    top: -10px;
}
.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.feedback {
    margin: 36px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
    text-align: center;
}
.feedback-author-name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: #18CFAB;
    text-transform: uppercase;
}
.feedback-author-position {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 30px;
    color: #BBBBBB;
}
.feedback-author-photo {
    margin: 50px 0 70px;
    width: 142px;
    height: 142px;
    border-radius: 50%;
    position: relative;
    z-index: 1;
}
.feedback-author-photo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.feedback-author-photo::before {
    content: "";
    position: absolute;
    top: -12px;
    left: -12px;
    width: 166px;
    height: 166px;
    border-radius: 50%;
    background-color: #1FDAB5;
    mix-blend-mode: normal;
    opacity: 0.2;
    z-index: 0;
}
.footer {
    background-color: #22353F;
    text-align: center;
}
.footer p {
    margin: 0;
    padding: 48px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
}
.footer > p > span {
    color: #18CFAB;
}