.button {
  padding: 10px 16px;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn {
  padding: 10px 16px;
  background-color: white;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
}