.footer {
  background-color: #000000;
  color: #B9B9B9;

  &__wrapper {
    padding: 38px 38px 46px;
    @include flexContainer(column, center, center);
    @media (min-width: 768px) {
      padding: 56px 110px;
    }
    @media (min-width: 1200px) {
      padding: 56px 220px;
    }
  }

  &__title {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 158%;
    text-transform: uppercase;
    color: #FEFEFE;
  }

  &__text {
    margin: 8px 0 0;
    text-align: center;
    @media (min-width: 768px) {
      margin: 22px 0 0;
    }

    &--hidden-part {
      display: none;
      @media (min-width: 768px) {
        display: inline;
      }
    }
  }

  &__social-media-icons {
    margin: 26px auto 22px;
    @include flexContainer(row, center, center);
    gap: 6px;
    @media (min-width: 768px) {
      margin: 36px auto;
    }
  }

  &__contacts-wrapper {
    position: relative;
    @include flexContainer(column, center, center);
    gap: 4px;

    address {
      font-style: normal;
    }

    a {
      text-decoration: none;
      color: inherit;
    }

    @media (min-width: 768px) {
      @include flexContainer(row, space-between, end);
      gap: 22px;
    }
    &::before {
      @media (min-width: 768px) {
        content: '/';
        position: absolute;
        left: 214px;
        bottom: 0;
      }
    }
      &::after {
        @media (min-width: 768px) {
          content: '/';
          position: absolute;
          right: 142px;
          bottom: 0;
        }
      }
    }
  }