.header {
  margin-bottom: 38px;
  &__menu-wrapper {
    min-height: 82px;
    @media (min-width: 768px) {
      min-height: 100px;
      @include flexContainer(row, center, center);
    }
  }
  &__menu-burger {
    width: 44px;
    height: 37px;
    margin: 22px 0;
    background-color: #000000;
    @include flexContainer(column, center, center);
    position: absolute;
    right: 4px;
    cursor: pointer;
    span {
      width: 17px;
      height: 2px;
      background: #FFFFFF;
      margin: 1px 0;
    }
    &.mobile-active {
      span {
        &.line-1 {
          position: absolute;
          top: 48%;
          transform: rotate(45deg);
        }
        &.line-2 {
          display: none;
        }
        &.line-3 {
          position: absolute;
          top: 48%;
          transform: rotate(-45deg);
        }
      }
    }
    @media (min-width: 768px) {
      display: none;
    }
  }
  &__hero-image-wrapper {
    img {
      width: 100%;
    }
  }
}
.menu-items {
    display: none;
    margin: 0;
    padding: 0;
    width: 182px;
    box-sizing: border-box;
    list-style-type: none;
    background-color: #F5F5F5;
    position: absolute;
    right: 4px;
    top: 58px;
    z-index: 1;
    &.mobile-active {
      display: flex;
    }
    .menu-item {
      padding: 4px 14px;
      box-sizing: border-box;
      color: #4E4E4E;
      &:hover {
        background-color: #E5E5E5;;
      }
      a {
        text-decoration: none;
        @include fontStyle();
        color: #4E4E4E;
      }
      &:first-child a {
        color: #57A4A4;
      }
      @media (min-width: 768px) {
        padding: 0 16px;
      }
    }
  @media (min-width: 768px) {
    margin: auto;
    width: auto;
    @include flexContainer(row, center, center);
    position: relative;
    left: 0;
    top: 0;
    background-color: #FFFFFF;
  }
}
