.section-instagram {
  padding-bottom: 42px;
  @media (min-width: 768px) {
    background-color: #d3d3d3;
  }
  &__title-wrapper {
    padding: 0 0 14px;
    @include flexContainer(row, space-between, center);
    @media (min-width: 768px) {
      padding: 48px 0 24px;
    }
  }
  &__title {
    @include fontTitle();
  }
  &__cta {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 170%;
    color: #4E4E4E;
    text-transform: uppercase;
    &--hide {
      display: none;
      @media (min-width: 768px) {
        display: block;
      }
    }
  }
  &__shots-wrapper {
    @include flexContainer(row, space-between, start);
  }
  &__shot {
    max-width: 300px;
    max-height: 300px;
    @media (min-width: 768px) {
      max-width: 248px;
      max-height: 248px;
    }
    @media (min-width: 1200px) {
      max-width: 284px;
      max-height: 284px;
    }
    img {
      width: 100%;
    }
    &--hide {
      display: none;
      @media (min-width: 768px) {
        display: block;
      }
    }
    &:last-child {
      @media (min-width: 768px) {
        display: none;
      }
      @media (min-width: 1200px) {
        display: block;
      }
    }
  }
}