.section-posts {
  margin-bottom: 50px;
  &__title {
    margin: 0 0 24px;
    @include fontTitle();
  }
  &__posts-wrapper {
    @media (min-width: 1200px){
      @include flexContainer (row, flex-start, start);
      flex-wrap: wrap;
    }
  }
  &__posts-wrapper a {
    text-decoration: none;
    max-width: 50%;
  }
  &__post {
    margin-bottom: 28px;
    &--hide {
      display: none;
      @media (min-width: 768px) {
        display: block;
      }
    }
    @media (min-width: 768px) {
      @include flexContainer(row, flex-start, start);
    }
  }
}
.post {
  &__content-wrapper {
    @media (min-width: 768px) {
      padding-left: 20px;
      max-width: 65%;
    }
  }
  &__title {
      margin: 10px 0 0;
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      font-size: 14px;
      line-height: 214%;
      color: #4E4E4E;
  }
  &__info-wrapper {
    span {
      font-family: 'Roboto',sans-serif;
      font-size: 11px;
      line-height: 180%;
      color: #7C7C7C;
    }
  }
  &__comments {
    margin-left: 20px;
    position: relative;
    &::before {
      content: "/";
      position: absolute;
      left: -13px;
      bottom: -5px;
    }
  }
  &__description {
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    line-height: 186%;
    color: #5C5C5C;
    &--hide {
      display: none;
      @media (min-width: 768px) {
        display: block;
      }
    }
  }
}