.header, .main-content, .footer {
    width: 1280px;
    margin: 0 auto;
}
.logo {
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    margin: 63px 0 38px;
}
.logo a {
    color: #000000;
    text-decoration: none;
}
.logo span {
    color: #4BCAFF;
}
.menu a {
    text-decoration: none;
}
.main-content {
    display: flex;
    /*justify-content: space-between;*/
    margin-top: 48px;
}
.menu-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.main-menu-list {
    display: flex;
    justify-content: center;
    background-color: #35444F;
}
.main-menu-item {
    padding: 26px 33px 19px;
    border-left: 1px solid #FFFFFF;
}
.main-menu-item:last-child {
    border-right: 1px solid #FFFFFF;
}
.main-menu-item:hover {
    background-color: #222F3A;
}
.main-menu-item a {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 28px;
    color: white;
}
.aside-menu {
    min-width: 342px;
}
.aside-menu-list {
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
}
.aside-menu-item {
    display: flex;
    align-items: center;
    padding-left: 44px;
    height: 80px;
    font-family: 'Roboto', sans-serif;
    font-size: 27px;
    line-height: 27px;
}
.aside-menu-item:hover {
    background-color: #DBDBDB;
}
.aside-menu-item a {
    color: #495863;
    transition: all 0.5s linear;
}
.aside-menu-item a:hover {
    color: #000000;
    transform: translate(20px, 0);
}
.main-article {
    margin-left: 52px;
}
.photo-wrapper {
    margin-bottom: 36px;
    height: 529px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
}
.photo-wrapper img {
    width: 320px;
    height: 381px;
}
.photo-wrapper img:hover {
    transform: scale(1.2);
    transition: all 1s;
}
.main-article p {
    margin: 0 0 34px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin: 20px auto 30px;
    padding: 20px 40px;
    height: 69px;
    background-color: rgba(99, 105, 110, 0.48);
}
.footer-menu-list {
    display: flex;
    justify-content: space-between;
    width: 875px;
}
.footer-menu-item a {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
}
.footer-menu-item a:hover {
    color: #3181A6;
    border-bottom: 1px solid;
}
.copyright {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}
