body {
    background-color: #151515;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 36px auto 120px;
    width: 80%;
}
.header-phone,
.btn-projects {
    display: flex;
    align-items: center;
    padding: 10px 26px 10px 26px;
    border: 1px solid #E4B564;
}
.header-phone-link,
.btn-project-link {
    font-family: 'Circe', sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    text-decoration: none;
}
.header-phone img {
    margin-right: 10px;
}
.section-services {
    width: 80%;
    margin: 0 auto;
    padding: 0 0 160px;
}
.section-title {
    font-family: 'Gilam', sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
}
.section-description {
    margin: 41px 0;
    font-family: 'Gilam', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}
.services-wrapper {
    display: grid;
    grid-template-rows: repeat(2, 468px);
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
            'item-1 item-1 item-2 item-2 item-3 item-3'
            'item-4 item-4 item-4 item-5 item-5 item-5';
    gap: 25px;
}
.services-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-family: 'Gilam', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    background-color: #E4B564;
}
.service-1 {
    grid-area: item-1;
    background-color: #634F2C;
}
.service-2 {
    grid-area: item-2;
    background-color: #B4A385;
}
.service-3 {
    grid-area: item-3;
    background-color: #E4B564;
}
.service-4 {
    grid-area: item-4;
    background-color: #635A4A;
}
.service-5 {
    grid-area: item-5;
    background-color: #B08C4D;
}
.section-equipment {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 190px;
}
.section-equipment-title {
    margin-bottom: 94px;
}
.equipment-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.equipment-items {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
}
.equipment-items:nth-child(2) {
    justify-content: flex-start;
}
.equipment-item {
    box-sizing: border-box;
    padding: 44px 52px;
    width: auto;
    text-decoration: none;
    font-family: 'Gilam', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}
.equipment-item span {
    font-weight: 700;
}
.equipment-item-1 {
    height: 313px;
    background: #0E0E0E;
}
.equipment-item-2 {
    height: 560px;
    background: #1F1F1F;
}
.equipment-item-3 {
    height: 439px;
    background: #242424;
}
.equipment-item-4 {
    height: 405px;
    background: #E4B564;
    color: #000000;
}
.equipment-item-5 {
    height: 255px;
    background: #1F1F1F;
}
.equipment-item-6 {
    height: 313px;
    background: #0E0E0E;
}
.equipment-item-7 {
    height: 277px;
    background: #0A0909;
}
.section-clients {
    background-color: black;

}
.section-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 160px 0 60px;
    width: 80%;
    margin: 0 auto;
}
.clients-wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.clients-wrapper a {
    text-decoration: none;
    width: 33.33%;
    color: white;
}
.client-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 390px;
}
.client-item-1 {
    background: #634F2C;
}
.client-item-2 {
    background: rgba(232, 210, 171, 0.76);
}
.client-item-3 {
    background: #E4B564;
}
.client-item-4 {
    background: #635A4A;
}
.client-item-5 {
    background: #B08C4D;
}
.client-item-6 {
    background: #634F2C;
}
.client-item div {
    display: none;
}
.client-item:hover div {
    display: block;
}
.client-item div p {
    font-family: 'Gilam', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
}
.client-item div p span {
    font-weight: 400;
}
.footer {
    height: 240px;
}