body {
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.page-wrapper {
    width: 70%;
    margin: 0 auto;
}
.header {
    margin: 46px 0 16px;
    padding: 0;
    height: 60px;
    display: flex;
    justify-content: space-between;
}
.header a {
    text-decoration: none;
}
.header-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.header-logo-text {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    text-transform: uppercase;
}
.header-logo-text-top {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;
}
.header-logo-text-bottom {
    margin: 0;
    padding-top: 6px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}
.header-logo svg path {
    fill: #FFFFFF;
}
.header-logo:hover svg path,
.header-logo:hover p {
    fill: #F26522;
    color: #F26522;
}
.header-contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}
.header-contacts a {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}
.header-contacts a:hover {
    color: #F26522;
}
.main-content {
    margin: 0 auto;
}
.tours-wrapper {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 60px;
}
.tours-wrapper a {
    text-decoration: none;
}
.tour-item {
    width: 300px;
}
.tour-image {
    position: relative;
    width: 300px;
    height: 220px;
    overflow: hidden;
}
.tour-image::before {
    content: "";
    background: linear-gradient(90deg, rgba(87,87,87,1) 0%, rgba(100,100,100,1) 35%, rgba(246,248,248,1) 100%);
    position: absolute;
    left: -2px;
    right: -2px;
    top: -2px;
    bottom: -2px;
    z-index: -1;
}
.hidden-content {
    box-sizing: border-box;
    height: 0;
    transition: .7s linear;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #F26522;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}
.price-from {
    width: 100%;
    font-size: 10px;
    line-height: 10px;
    padding-bottom: 6px;
}
.tour-price {
    font-size: 20px;
    line-height: 20px;
}
.view-details {
    font-size: 14px;
    line-height: 14px;
}
.view-details::after {
    content: ">";
    padding-left: 16px;
    width: 5px;
    height: 10px;
}
.tour-name {
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-align: center;
}
.tours-wrapper a:hover .tour-name {
    text-decoration: none;
    color: #F26522;
}
.tours-wrapper a:hover .hidden-content{
    height: 55px;
    overflow: visible;
    padding: 8px 16px 14px;
}
.footer {
    display: flex;
    justify-content: center;
}
.copyright {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
}