.header {
    height: 70px;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #313131;
}
.header .header-left {
    display: flex;
    justify-content: left;
}
.header .header-left .logo {
    width: 81px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .header-left .name a {
    font-family: Open Sans;
    font-weight: bold;
    font-size: 22px;
    line-height: 1.2;
    color: white;
    text-decoration: none;
}
.header .header-menu .menu-list {
    padding: 0;
    display: flex;
    justify-content: center;
}
.header-menu .menu-list .menu-item {
    margin-left: 13px;
    margin-right: 13px;
    line-height: 20px;
    display: flex;
    justify-content: center;
}
.header-menu .menu-list .menu-item a{
    font-family: Open Sans;
    text-transform: uppercase;
    font-size: 15px;
    text-decoration: none;
    color: white;
}
.header-menu .menu-list .menu-item a:hover{
    color: #14B9D5;
}
.header .header-search {
    width: 68px;
    height: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.hero {
    min-height: 369px;
    background-image: url("../images/header-background.png");
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero .hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero .hero-container .hero-header {
    font-family: Open Sans;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #FFF;
}
.hero .hero-container .hero-buttons .button-left {
    width: 170px;
    height: 55px;
    margin-right: 20px;
    border-radius: 5px;
    border: 0;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFF;
    background: #89CA62;
    cursor: pointer;
}
.hero .hero-container .hero-buttons .button-right {
    width: 170px;
    height: 55px;
    border-radius: 5px;
    border: 0;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFF;
    background: #14B9D5;
    cursor: pointer;
}
.section-popular {
    background: #F2F2F2;
    display: flex;
    justify-content: center;
}
.section-popular .container .section-header {
    margin-top: 49px;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #18B4CF;
}
.section-popular .container .wrapper {
    width: 1170px;
    padding-bottom: 72px;
    display: flex;
    justify-content: space-between;
}
.section-popular .container .wrapper .wrapper-left,
.section-popular .container .wrapper .wrapper-center,
.section-popular .container .wrapper .wrapper-right {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.section-popular .container .wrapper .wrapper-item {
    background-color: white;
    margin-bottom: 32px;
}
.section-popular .container .wrapper .wrapper-item p {
    margin: 0;
    padding-top: 21px;
    padding-bottom: 22px;
    text-align: center;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
}
.section-clients {
    min-height: 588px;
    background-image: url("../images/parallax-bg.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-content: center;
}
.section-clients .section-header {
    margin-top: 106px;
    margin-bottom: 197px;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    color: #FFF;
    text-align: center;
}
.section-clients .section-header:after {
    padding-bottom: 87px;
    content: "";
    border-bottom: 3px solid #18B4CF;
    display: block;
    width: 60px;
    margin-left: auto;
    margin-right: auto;
}
.section-clients .images-wrap {
    margin-bottom: 192px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 58px;
    align-items: center;
}
.section-rated .container .section-header {
    font-family: Open Sans;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #18B4CF;
}
.section-rated .container .images-wrap {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.section-rated .container .images-wrap img {
    width: 100%;
}
.section-news .container {
    width: 1170px;
    margin: 0 auto;
}
.section-news .container .section-header {
    font-family: Open Sans;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #18B4CF;
}
.section-news .container .wrapper {
    margin-bottom: 77px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 259px repeat(2,1fr) 259px;
    grid-column-gap: 60px;
    grid-row-gap: 44px;
}
.section-news .container .wrapper .wrapper-item-1 {
    display: inline-grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-template-columns: repeat(2, 1fr);
    background-color: #F9F7F7;
}
.section-news .container .wrapper .wrapper-item-2 {
    display: inline-grid;
    grid-column-start: 4;
    grid-row-start: 1;
    grid-template-columns: 1fr;
    background-color: #F9F7F7;
}
.section-news .container .wrapper .wrapper-item-3 {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    background-color: #F9F7F7;
}
.section-news .container .wrapper .wrapper-item-4 {
    display: grid;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    background-color: #F9F7F7;
}
.section-news .container .wrapper .wrapper-item-5 {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    background-color: #F9F7F7;
}
.section-news .container .wrapper .wrapper-item-6 {
    display: grid;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    background-color: #F9F7F7;
}
.section-news .container .wrapper .wrapper-item-7 {
    display: grid;
    grid-column-start: 1;
    grid-row-start: 4;
    background-color: #F9F7F7;
}
.section-news .container .wrapper .wrapper-item-8 {
    display: inline-grid;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-template-columns: repeat(2, 1fr);
    background-color: #F9F7F7;
}
.section-news .container .wrapper .wrapper-item-2 .item-title,
.section-news .container .wrapper .wrapper-item-7 .item-title {
    margin: 0;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #353A3D;
}
.section-news .container .wrapper .wrapper-item-1 .item-title,
.section-news .container .wrapper .wrapper-item-3 .item-title,
.section-news .container .wrapper .wrapper-item-4 .item-title,
.section-news .container .wrapper .wrapper-item-5 .item-title,
.section-news .container .wrapper .wrapper-item-6 .item-title,
.section-news .container .wrapper .wrapper-item-8 .item-title {
    padding-right: 14px;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    color: #353A3D;
}
.section-news .container .wrapper .wrapper-item-1 .item-text,
.section-news .container .wrapper .wrapper-item-3 .item-text,
.section-news .container .wrapper .wrapper-item-4 .item-text,
.section-news .container .wrapper .wrapper-item-5 .item-text,
.section-news .container .wrapper .wrapper-item-6 .item-text,
.section-news .container .wrapper .wrapper-item-8 .item-text {
    margin-left: 12px;
    margin-right: 12px;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #5B6469;
}
.footer {
    color: white;
    height: 80px;
    background-color: #000;
}
.footer .container {
    width: 1170px;
    margin: 0 auto;
}
.footer .container .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px;
    align-items: center;
}
.footer .copyright {
    text-align: left;
}
.footer .footer-logo {
    padding: 0;
    margin-top: 16px;
    text-align: right;
}
