.header {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 100px;
  padding: 10px 20px;
  background-color: lightblue;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;

  .header-icons-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    .header-icon {
      position: relative;
      width: 50px;
      height: 50px;
      color: transparent;
      background-color: transparent;

      svg {
        fill: currentColor;
        stroke: white;

        &:hover {
          stroke: red;
        }
      }

      .header-icon-counter {
        position: absolute;
        top: 2px;
        right: 2px;
        color: red;
      }
    }
  }
}