body {
    background-color: rgb(249, 249, 249);
}
.header {
    display: flex;
    justify-content: center;
    height: 60px;
    background-color: lightblue;
}
.header-wrapper {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-wrapper {
    display: flex;
    align-items: center;
    gap: 2px;
}
.logo-wrapper:hover .logo-text {
    color: beige;
}
.logo-wrapper img {
    padding-top: 14px;
}
.logo-text {
    font-size: 30px;
    font-family: Calibri, sans-serif;
    text-transform: uppercase;
    color: white;
    margin-left: 10px;
}
.button {
    height: 30px;
    padding: 0 30px;
    border-radius: 5px;
    border: none;
    font-family: Calibri, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
}
.button-login,
.button-logout,
.button-create-visit {
    background-color: white;
    color: black;
}
.hidden {
    display: none;
}
.button-login:hover,
.button-logout:hover,
.button-create-visit:hover {
    color: lightblue;
}
.buttons-confirm-wrapper {
    width: 100%;
    display: flex;
    gap: 20px;
}
.confirm-delete-btn {
    color: black;
}
.reject-delete-btn {
    color: white;
}
.confirm-delete-btn,
.reject-delete-btn{
    width: 50%;
    background-color: lightblue;
}
.confirm-delete-btn:hover {
    color: white;
}
.reject-delete-btn:hover {
    color: black;
}
.main {
    height: calc(100vh - 60px);
    /*display: block;*/
    text-align: center;
}
.main-content-wrapper {
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: flex-start;
    gap: 30px;
}
.login-invitation-text {
    font-size: 30px;
    margin: 0;
    padding: 30px;
    font-family: Calibri, sans-serif;
    text-transform: uppercase;
    color: black;
    cursor: pointer;
}
.login-invitation-text span {
    color: lightblue;
}
.login-invitation-text span:hover {
    color: black;
}
.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(30, 30, 30, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-wrapper-bgd {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0.1;
}
.modal-body {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 26px;
    background-color: white;
    border-radius: 5px;
    min-width: 560px;
    max-width: 800px;
    max-height: 80%;
}
.modal-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal-title {
    font-family: Calibri, sans-serif;
    color: lightblue;
}
.modal-close-btn,
.visit-delete-btn {
    opacity: 0.2;
    cursor: pointer;
    transition: opacity ease 0.5s;
}
.modal-close-btn:hover,
.visit-delete-btn:hover {
    opacity: 1;
}
.modal-close-btn::before,
.modal-close-btn::after,
.visit-delete-btn::before,
.visit-delete-btn::after {
    content: '';
    position: relative;
    display: flex;
    width: 20px;
    height: 2px;
    background: black;
}
.modal-close-btn::before,
.visit-delete-btn::before {
    transform: rotate(45deg);
    top: 2px;
}
.modal-close-btn::after,
.visit-delete-btn::after {
    transform: rotate(-45deg);
}
.modal-visit-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 14px;
    width: 100%;
}
.modal-input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.modal-fields-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
}
.modal-fields-wrapper div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.modal-visit-wrapper div label {
    font-family: Calibri, sans-serif;
}
.modal-input-wrapper input,
.modal-visit-wrapper input {
    padding: 10px 12px;
    border: 2px solid lightgray;
    border-radius: 2px;
    font-family: Calibri, sans-serif;
}
.modal-body select {
    padding: 9px 12px;
    border: 2px solid lightgray;
    border-radius: 2px;
    font-family: Calibri, sans-serif;
}
.modal-body textarea {
    block-size: 35px;
    max-block-size: 80px;
    max-width: 250px;
    border: 2px solid lightgray;
    border-radius: 2px;
    font-family: Calibri, sans-serif;
}
.modal-btn {
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 2px;
    background-color: lightblue;
    font-family: Calibri, sans-serif;
    cursor: pointer;
}
.modal-btn:hover {
    color: white;
}
.visit-wrapper {
    padding: 5px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
    border-radius: 6px;
    background-color: white;
    font-family: Calibri, sans-serif;
}
.visit-wrapper::before {
    content: '';
    position: absolute;
    height: 40px;
    top: 0;
    left: 0;
    right: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: lightblue;
    /*z-index: 2;*/

}
.visit-buttons-wrapper {
    width: 100%;
    padding: 2px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button-less,
.button-more,
.button-edit {
    padding: 3px 0;
    background-color: transparent;
    position: relative;
    z-index: 0;
    text-transform: uppercase;
    border: none;
    font-family: Calibri, sans-serif;
    cursor: pointer
}
.button-less {
    color: white;
}
.button-less:hover {
    color: black;
}
.button-more {
    color: black;
}
.button-more:hover {
    color: white;
}
.button-edit {
    color: white;
}
.button-edit:hover {
    color: black;
}
.visit-fields-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.visit-fields-wrapper p {
    margin: 5px;
    text-align: left;
}

.visit-fields-wrapper p span {
    color: gray;
}