.checkout-form {
  max-width: 100%;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 2em;
  background-color: #F6F6F6;

  .form-block {
    padding: 16px;
    border: none;
    //border-radius: 4px;
    box-sizing: border-box;

    &:not(:last-child) {
      margin-bottom: 32px;
    }

    legend {
      float: none;
      width: 100%;
      padding: 6px;
      text-align: left;
      background-color: white;
    }

    .form-item {
      display: block;
      width: 100%;
    }

    .form-label {
      text-align: left;
    }

    .form-input {
      width: auto;
    }
  }
  .checkout-btn {
    margin: 2px;
    padding: 10px 16px;
    background-color: cornflowerblue;
    border: 1px solid cornflowerblue;
    outline: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      color: black;
      border: 1px solid cornflowerblue;
    }
  }
}