.header-menu {
    text-align: center;
}
.header-menu .menu-list {
    margin-top: 25.5px;
    margin-bottom: 25.5px;
    padding: 0;
}
.menu .menu-list .menu-item {
    display: inline-block;
    padding: 0 36px;
    margin-top: 6px;
    margin-bottom: 6px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}
.menu .menu-list .menu-item a {
    color: #FF0000;
    text-decoration: none;
}
.hero .hero-picture {
    width: 100%;
    margin-bottom: 49px;
}
.main-content .content-title {
    margin-top: 0;
    margin-bottom: 38px;
    text-align: center;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
}
.main-content .content-text {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 28px;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: black;
}
.main-content .content-text p + p {
    margin-bottom: 28px;
}
.main-content .button {
    horiz-align: center;
    text-align: center;
    margin-top: 66px;
}
.main-content .button button {
    width: 191px;
    height: 51px;
    margin-bottom: 88px;
    background-color: #FF0000;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: white;
}
.copyright {
    padding-right: 10%;
    margin-bottom: 29px;
    text-align: right;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: black;
}